html, body {
    height: 100%;
}

html {
	background: url(background3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	max-height: 100%;
    margin: 0;
    color: #BFAD8D;
    font: normal 16px/1.2 "Roboto",Helvetica,Arial,sans-serif;
	--text-shadow: 1px 1px #000;
}

p {
	margin: 0 0 10px;
	--color: #54A7AA;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
}

h1 {
	font-family: "Roboto Slab", serif;
	font-size: 61.6667px;
	font-weight: 600;
	letter-spacing: 0.02em;
}

.wrap {
	background-color: rgba(50,50,50,0.7);
	min-height: 100%;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
}

.content {
	min-height: 100%;
	text-align: center;
	padding-top: 200px;
	vertical-align: middle;
}

.container p {
	font-family: "Titillium Web", sans-serif;
	font-size: 32px;
	font-weight: normal;
}

.titles {
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	margin-bottom: 40px;
	padding-bottom: 30px;
}

ul.social-links {
	margin: 2px 0 0;
	padding: 0;
}

ul.social-links li {
	list-style: none;
	display: inline-block;
	font-size: 120%;
	margin-left: 10px;
}

ul.social-links li a {
	--border-radius: 50%;
	--webkit-border-radius: 50%;
	--moz-border-radius: 50%;
	padding: 6px 9px;
	transition: color .3s ease;
	outline: none;
	font-size: 30px;
	--background-color: #BFAD8D;
	color: #BFAD8D;

}

ul.social-links li a:hover {
	color: #fff;
}
